<?xml version="1.0" encoding="UTF-8"?>
<assembly>
	<formats>
		<format>tar</format>
		<format>zip</format>
	</formats>
	<includeBaseDirectory>false</includeBaseDirectory>
	<fileSets>
		<fileSet>
			<directory>src/main/resources/bin</directory>
			<outputDirectory>/${artifactId}/bin</outputDirectory>
			<includes>
				<include>run.sh</include>
				<include>run.bat</include>
			</includes>
			<fileMode>0755</fileMode>
		</fileSet>
		<fileSet>
			<directory>src/main/resources</directory>
			<outputDirectory>/${artifactId}/config</outputDirectory>
			<includes>
				<include>*.properties</include>
				<include>*.xml</include>
				<!-- <include>env/dev/*</include> <include>env/qa/*</include> <include>env/uat/*</include> 
					<include>env/prod/*</include> -->
			</includes>
		</fileSet>
		<!-- <fileSet> <directory>target</directory> <outputDirectory>lib</outputDirectory> 
			<includes> <include>*.jar</include> </includes> </fileSet> -->

		<fileSet>
			<directory>src/main/resources</directory>
			<outputDirectory>/${artifactId}/logs</outputDirectory>
			<fileMode>0755</fileMode>
			<excludes>
				<exclude>**/*</exclude>
			</excludes>
		</fileSet>
	</fileSets>
	<files>
		<file>
			<source>target/${artifactId}-${version}.${packaging}</source>
			<outputDirectory>/${artifactId}/lib</outputDirectory>
			<destName>${artifactId}.jar</destName>
		</file>
	</files>
</assembly>